 <!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
        </div>
        <div>
            <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">© Copyright Dankos 2024, Clinic Data Center V01</a>
        </div>
    </div>
</footer>
<!-- / Footer -->