@{
    ViewData["Title"] = "MCU/MCU Berkala/Details/Subdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @await Html.PartialAsync("_Sidebar")
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @await Html.PartialAsync("_Navbar")
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="mt-3">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:history.go(-1);"><i class='bx bx-chevron-left bx-md text-secondary'></i></a>
                                    <h4 class="m-0 display-7"><span class="fw-lighter">MCU Berkala / Detail</span> / Subdetail</h4>
                                </div>
                            </div>
                            <div class="col-lg-12 my-4">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-sm-12">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="8">Riwayat Kebiasaan</th>
                                                            </tr>
                                                            <tr class="table-warning">
                                                                <th>Merokok</th>
                                                                <th>Merokok</th>
                                                                <th>Alkohol</th>
                                                                <th>Alkohol</th>
                                                                <th>Kopi</th>
                                                                <th>Kopi</th>
                                                                <th>Olahraga</th>
                                                                <th>Merokok</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 order-0 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="16">Riwayat Penyakit Keluarga</th>
                                                            </tr>
                                                            <tr class="table-warning">
                                                                <th>Hipertensi</th>
                                                                <th>Hipertensi</th>
                                                                <th>Diabetes</th>
                                                                <th>Diabetes</th>
                                                                <th>Jantung</th>
                                                                <th>Jantung</th>
                                                                <th>Ginjal</th>
                                                                <th>Ginjal</th>
                                                                <th>Asma</th>
                                                                <th>Asma</th>
                                                                <th>Alergi</th>
                                                                <th>Alergi</th>
                                                                <th>Mental</th>
                                                                <th>Mental</th>
                                                                <th>Lain-lain</th>
                                                                <th>Lain-lain</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                                <td>1</td>
                                                            </tr>
                                                        </tbody>
                                                    
                                                    </table>
                                                </div>
                                                <div>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <table class=" table table-bordered">
                                                                <thead >
                                                                    <tr>
                                                                        <th colspan="5">Keadaan Umum</th>
                                                                    </tr>
                                                                    <tr class="table-success">
                                                                        <th>Tinggi(cm)</th>
                                                                        <th>Berat(Kg)</th>
                                                                        <th>Kondisi</th>
                                                                        <th>Suhu</th>
                                                                        <th>BMI</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody >
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-auto">
                                                            <table class="table table-bordered">
                                                                <thead >
                                                                    <tr>
                                                                        <th colspan="1">Kulit</th>
                                                                    </tr>
                                                                    <tr class="table-success">
                                                                        <th>Kulit</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody >
                                                                    <tr>
                                                                        <td>1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 my-4 order-0 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="10">Mata</th>
                                                            </tr>
                                                            <tr class="table-success">
                                                                <th>Dengan</th>
                                                                <th>Buta Warna</th>
                                                                <th>Visus Kanan</th>
                                                                <th>Visus Kiri</th>
                                                                <th>Konjungtiva</th>
                                                                <th>Skelera</th>
                                                                <th>Pupil</th>
                                                                <th>Refleksi</th>
                                                                <th>Bola Mata</th>
                                                                <th>Kornea</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>Tidak</td>
                                                                <td>Tidak Buta Warna</td>
                                                                <td>20/20</td>
                                                                <td>20/20</td>
                                                                <td>Normal</td>
                                                                <td>Normal</td>
                                                                <td>Normal</td>
                                                                <td>Positif</td>
                                                                <td>Normal</td>
                                                                <td>Normal</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 order-0 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="9">Hidung dan Mulut</th>
                                                            </tr>
                                                            <tr class="table-success">
                                                                <th>Hidung</th>
                                                                <th>Mulut</th>
                                                                <th>Lidah</th>
                                                                <th>Gigi Atas</th>
                                                                <th>Gigi Atas</th>
                                                                <th>Gigi Bawah</th>
                                                                <th>Gigi Bawah</th>
                                                                <th>Pharinx</th>
                                                                <th>Tonsil</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>Dalam batas normal</td>
                                                                <td>Normal</td>
                                                                <td>Lidah</td>
                                                                <td>Baik</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Baik</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="6">Sistem syaraf</th>
                                                            </tr>
                                                            <tr class="table-success">
                                                                <th>Refleks</th>
                                                                <th>Refleks</th>
                                                                <th>Fungsi</th>
                                                                <th>Fungsi</th>
                                                                <th>Tonus Otot</th>
                                                                <th>Kelainan</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>Positif(Normal)</td>
                                                                <td>Negatif(Normal)</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Tidak ada</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 table-responsive mt-4">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="4">Sistem Muskuloskeletal</th>
                                                                <th colspan="3">Sistem Kelenjar Getah Bening</th>
                                                            </tr>
                                                            <tr class="table-success">
                                                                <th>Tengkorak</th>
                                                                <th>Tulang</th>
                                                                <th>Anggota</th>
                                                                <th>Anggota</th>
                                                                <th>Kelenjar</th>
                                                                <th>Kelenjar</th>
                                                                <th>Kelenjar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Dalam batas normal</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th colspan="5">Konvergensi</th>
                                                                <th colspan="1">Status</th>
                                                            </tr>
                                                            <tr class="table-success">
                                                                <th>Titik</th>
                                                                <th colspan="3">Okuitas(Visual tidak Terkoreksi)</th>
                                                                <th>Kesimpulan</th>
                                                                <th>Area Tubuh</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>10 cm</td>
                                                                <td>20/20</td>
                                                                <td>20/20</td>
                                                                <td>R/L Plano</td>
                                                                <td>Dalam batas normal</td>
                                                                <td>Tidak ditemukan kelainan</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12">Hasil Lab</th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>Eritrosit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Hematokit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Hemoglobin</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>MCV</th>
                                                                <th class="text-danger">Kesan MCV</th>
                                                                <th>MCH</th>
                                                                <th class="text-danger">Kesan MCH</th>
                                                                <th>MCHC</th>
                                                                <th class="text-danger">Kesan MCHC</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>5.1</td>
                                                                <td>Meningkat</td>
                                                                <td>45</td>
                                                                <td>Meningkat</td>
                                                                <td>14.7</td>
                                                                <td>Meningkat</td>
                                                                <td>88</td>
                                                                <td>Meningkat</td>
                                                                <td>29</td>
                                                                <td>Meningkat</td>
                                                                <td>33</td>
                                                                <td>Meningkat</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>LED</th>
                                                                <th class="text-danger">Kesan LED</th>
                                                                <th>Leukosit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Trombosit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Basofil</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Batang</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Eosinofil</th>
                                                                <th class="text-danger">Kesan</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>8</td>
                                                                <td>Meningkat</td>
                                                                <td>7.8</td>
                                                                <td>Meningkat</td>
                                                                <td>295</td>
                                                                <td>Meningkat</td>
                                                                <td>0</td>
                                                                <td></td>
                                                                <td>0</td>
                                                                <td>Meningkat</td>
                                                                <td>2</td>
                                                                <td>Meningkat</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>Limpfosit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Monosit</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Segmen</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Sedimen</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Sedimen</th>
                                                                <th>Sedimen</th>
                                                                <th>Sedimen</th>
                                                                <th>Segababsol</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>37</td>
                                                                <td>Meningkat</td>
                                                                <td>8</td>
                                                                <td>Meningkat</td>
                                                                <td>53</td>
                                                                <td>Meningkat</td>
                                                                <td>Negatif</td>
                                                                <td>Normal</td>
                                                                <td>1+</td>
                                                                <td>0-1</td>
                                                                <td>Negatif</td>
                                                                <td>4.09</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>Limababso</th>
                                                                <th>Sedimen</th>
                                                                <th>Sedimen</th>
                                                                <th>Sedimen</th>
                                                                <th>Berat Jenis</th>
                                                                <th>Bilirubin</th>
                                                                <th>Darah</th>
                                                                <th>Glukosa</th>
                                                                <th>Keton</th>
                                                                <th>Nitrit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>2.92</td>
                                                                <td>1-3</td>
                                                                <td>Negatif</td>
                                                                <td>Negatif</td>
                                                                <td>1.020</td>
                                                                <td>Negatif</td>
                                                                <td>Negatif</td>
                                                                <td>Negatif</td>
                                                                <td>Negatif</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>pH</th>
                                                                <th>Protein/Alb</th>
                                                                <th>Urobilinoge</th>
                                                                <th>Warna</th>
                                                                <th>Urea</th>
                                                                <th>Creatinin</th>
                                                                <th>HbsAg</th>
                                                                <th>Netrofit&li</th>
                                                                <th>eGFR</th>
                                                                <th>ALP</th>
                                                                <th>LEUU</th>
                                                                <th>ASAM URAT</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>7.5</td>
                                                                <td>Negatif</td>
                                                                <td>0.2</td>
                                                                <td>Kuning Jernih</td>
                                                                <td>30</td>
                                                                <td>0.92</td>
                                                                <td>Non Reaktif</td>
                                                                <td>1.40</td>
                                                                <td>116.8</td>
                                                                <td></td>
                                                                <td>Negatif</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>Gamma GT</th>
                                                                <th>Gula Darah</th>
                                                                <th>Cholestrol</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>LDL</th>
                                                                <th class="text-danger">Kesan LDL</th>
                                                                <th>HDL</th>
                                                                <th class="text-danger">Kesan HDL</th>
                                                                <th>Trigleserid</th>
                                                                <th class="text-danger">Kesan</th>
                                                                <th>Darah</th>
                                                                <th>Warna</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>-</td>
                                                                <td></td>
                                                                <td>-</td>
                                                                <td></td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-12 my-4 table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead >
                                                            <tr>
                                                                <th class="table-primary" colspan="12"></th>
                                                            </tr>
                                                            <tr class="table-secondary">
                                                                <th>Feses Rutin</th>
                                                                <th>Lendir Feses</th>
                                                                <th>Darah Feses</th>
                                                                <th>Leukosit</th>
                                                                <th>Eritrosit</th>
                                                                <th>Epitel Feses</th>
                                                                <th>Serat Feses</th>
                                                                <th>Amilum</th>
                                                                <th>Lemak Feses</th>
                                                                <th>Serat Otot</th>
                                                                <th>Amoeba</th>
                                                                <th>Yeast Feses</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody >
                                                            <tr>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('#myTable').DataTable();
                });
            </script>
        </div>

</body>